@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared styles */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-style: bold;
  color: white;
  cursor: pointer;
}

.logo h2 {
  font-size: 45px;
  font: 900px;
}
h2 .color-orange {
  color: #fd6e0a;
}
.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0px auto;
}
.section-heading h2 {
  font-size: 35px;
  font-style: bold;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
/* main style */
header {
  background-color: #fff8f3;
  padding-top: 51px;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  gap: 51px;
  align-items: center;
  list-style-type: none;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
  /* border: 1px solid rgb(6, 5, 5); */
  margin: 46px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}
#About,
#skills,
#resume {
  padding-top: 130px;
}
#About .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 131px 156px;
}
#About .about-container .about-info {
  display: flex;
  justify-content: space-around;
}
.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
  /* font-style: bold; */
}

#skills .skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
}
#skills .skills-container .skills-box {
  display: flex;
  gap: 24px;
}
.skills-box .skill-card {
  padding: 30px;
  max-width: 267px;
  box-shadow: 0 6px 50px 0 #00000023;
}
.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}
.skill-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skill-card p {
  font-style: 16px;
  line-height: 28px;
  color: #757575;
}

#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0px;
  display: flex;
  gap: 24px;
}
.resume-container hr {
  margin: 30px 0px;
}
.resume-container .section-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume-card {
  max-width: 511px;
  margin-right: 47px;
}
.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}
.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #757575;
}
footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px 0px;
}
footer .footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}
.footer-container h2 {
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}
.footer-container .social {
  max-width: 562px;
}

.footer-container .social p {
  color: #474747;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-container .icons a {
  margin-right: 24px;
}
.footer-container form input[type="text"],
.footer-container form textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
