a:link   {
     color: green;
     background-color: transparent;
     text-decoration: none;
}

a:visited  {
     color: rgb(10, 246, 21);
     background-color: transparent;
     text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}